html {
    font-family: Katica;
}

head, link, meta, script, style, title {
    display: none;
}

body {
    margin-left: 8;
    margin-top: 8;
    margin-right: 8;
    margin-bottom: 8;
}

h1, h2 {
    font-family: Pebbleton;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

pre {
    margin-bottom: 8;
    margin-top: 8;
    white-space: pre;
}

code {
    font-family: Csilla;
    font-weight: lighter;
}

u, ins {
    text-decoration: underline;
}

strong, b {
    font-weight: bold;
}

html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre,
header, footer {
    display: block;
}

center {
    text-align: center;
}

h1, h2, h3 {
    margin-top: 8;
    margin-bottom: 8;
    margin-left: 0;
    margin-right: 0;
}

h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu {
    margin-top: 4;
    margin-bottom: 4;
    margin-left: 0;
    margin-right: 0;
}

h5, h6 {
    margin-top: 2;
    margin-bottom: 2;
    margin-left: 0;
    margin-right: 0;
}

li {
    display: list-item;
    margin-left: 8;
    margin-top: 2;
    margin-bottom: 2;
}

a:link {
    color: -libhtml-link;
    text-decoration: underline;
}

a:hover {
    color: red;
}

hr {
    margin-top: 4;
    margin-bottom: 4;
    border-top-width: 1;
    border-left-width: 1;
    border-right-width: 1;
    border-bottom-width: 1;
    border-top-color: #888888;
    border-left-color: #888888;
    border-right-color: #888888;
    border-bottom-color: #888888;
    border-top-style: inset;
    border-left-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
}

blink {
    display: inline;
}

table {
    display: table;
}

tr {
    display: table-row;
}

td {
    display: table-cell;
}
