html {
    display: block;
    font-family: Katica;
}

head, link, meta, script, style, title {
    display: none;
}

body {
    display: block;
    margin-left: 8;
    margin-top: 8;
    margin-right: 8;
    margin-bottom: 8;
}

h1, h2 {
    display: block;
    font-family: Pebbleton;
}

h3 {
    display: block;
    font-weight: bold;
}

pre {
    display: block;
    margin-bottom: 8;
    margin-top: 8;
    white-space: pre;
}

code {
    font-family: Csilla;
    font-weight: lighter;
}

u, ins {
    text-decoration: underline;
}

strong, b {
    font-weight: bold;
}

p {
    display: block;
    margin-bottom: 8;
    margin-top: 8;
}

ul, ol {
    display: block;
    margin-top: 8;
    margin-bottom: 8;
}

li {
    display: list-item;
    margin-left: 8;
    margin-top: 2;
    margin-bottom: 2;
}
