grant {
     permission java.security.SecurityPermission "getProperty.combiner.provider";
     permission java.util.PropertyPermission "*", "read";
     permission java.lang.RuntimePermission "*";
};
grant {
     permission javax.security.auth.AuthPermission "modifyPrivateCredentials";
     permission javax.security.auth.AuthPermission "modifyPublicCredentials";
     permission	javax.security.auth.PrivateCredentialPermission "java.lang.String com.sun.security.auth.UnixPrincipal \"user\"", "read";
};
