/AK/FixedArray.h @kleinesfilmroellchen
/AK/NoAllocationGuard.h @kleinesfilmroellchen
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Help @kleinesfilmroellchen
/Userland/Applications/Piano @kleinesfilmroellchen
/Userland/Applications/Presenter @kleinesfilmroellchen
/Userland/Applications/SoundPlayer @kleinesfilmroellchen
/Userland/Libraries/LibAudio @kleinesfilmroellchen
/Userland/Libraries/LibCore/EventLoop.* @kleinesfilmroellchen
/Userland/Libraries/LibCore/SharedCircularQueue.h @kleinesfilmroellchen
/Userland/Libraries/LibDSP @kleinesfilmroellchen
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibManual @kleinesfilmroellchen
/Userland/Libraries/LibSQL @trflynn89
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibThreading @kleinesfilmroellchen
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Utilities/abench.cpp @kleinesfilmroellchen
/Userland/Utilities/aplay.cpp @kleinesfilmroellchen
/Userland/Utilities/asctl.cpp @kleinesfilmroellchen
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/man.cpp @kleinesfilmroellchen
/Userland/Utilities/sql.cpp @trflynn89
*.js @linusg
