grant {
    permission java.lang.RuntimePermission
		"accessClassInPackage.sun.security.provider";
    permission java.lang.RuntimePermission
		"accessClassInPackage.sun.security.x509";
}; 
