grant codeBase "file:${test.classes}/*" {

    permission java.io.FilePermission "${test.src}${file.separator}*", "read";
    permission java.util.PropertyPermission "test.src", "read";

    permission java.lang.RuntimePermission
        "accessClassInPackage.sun.security.provider";
    permission java.lang.RuntimePermission
        "accessClassInPackage.sun.security.pkcs";
    permission java.lang.RuntimePermission
        "accessClassInPackage.sun.security.x509";
    permission java.lang.RuntimePermission
        "accessClassInPackage.sun.security.rsa";
    permission java.lang.RuntimePermission
        "accessClassInPackage.com.sun.crypto.provider";
};
