---
Language: Cpp
AlignEscapedNewlines: Left
AlignTrailingComments: true
BasedOnStyle: WebKit
BraceWrapping:
    AfterFunction: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
IndentRequiresClause: false
NamespaceIndentation: None
QualifierAlignment: Right
RequiresClausePosition: WithFollowing
SpaceAfterTemplateKeyword: false
