---
Language: Cpp
BasedOnStyle: WebKit

AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
BraceWrapping:
    AfterFunction: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
NamespaceIndentation: None
QualifierAlignment: Right
SpaceAfterTemplateKeyword: false
