# Set the default behavior to always use LF file endings
* text=auto eol=lf

# Denote all files that are truly binary and should not be modified.
*.bmp binary
*.dds binary
*.gif binary
*.jpg binary
*.pbm binary
*.pgm binary
*.png binary
*.ppm binary

# Prevent port patches from being normalized
/Ports/**/patches/* -text
