*
!*.*
!*/
!Makefile
!LICENSE
!Base/**

*.o
*.ao
*.a
*.so
*.d

*.swo
*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave
Meta/Lagom/build
Build
build
CMakeFiles
Toolchain/Tarballs
Toolchain/Build
Toolchain/Local
.vscode
.ccls-cache
.DS_Store
compile_commands.json
.clang_complete
.clangd
*Endpoint.h
Ports/packages.db
.idea/
cmake-build-debug/
