*.swo
*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave
Meta/Lagom/build
Build
Toolchain/Tarballs
Toolchain/Build
Toolchain/Local
.vscode
.ccls-cache
.DS_Store
compile_commands.json
.cache
.clang_complete
.clangd
.idea/
cmake-build-debug/
output/
run-local.sh
sync-local.sh
.vim/
.exrc
.helix/

Userland/Libraries/LibWasm/Tests/Fixtures/SpecTests
Userland/Libraries/LibWasm/Tests/Spec

Tests/LibWeb/WPT/wpt
Tests/LibWeb/WPT/metadata
Tests/LibWeb/WPT/MANIFEST.json

# Ensure that all files in /Base can be tracked, even if they match one of the above rules
!/Base/**
