Ali Mohammad Pur <mpfard@serenityos.org> <ali.mpfard@gmail.com>
<mpfard@serenityos.org> <Ali.mpfard@gmail.com>
Brian Gianforcaro <bgianf@serenityos.org> <b.gianfo@gmail.com>
<gbeutner@serenityos.org> <gunnar@beutner.name>
Max Wipfli <max.wipfli@serenityos.org> <mail@maxwipfli.ch>
Sam Atkins <atkinssj@serenityos.org> <atkinssj@gmail.com>
Karol Kosek <krkk@serenityos.org> <krkk@krkk.ct8.pl>
davidot <davidot@serenityos.org> <david.tuin@gmail.com>
Tobias Christiansen <tobyase@serenityos.org> <tobi@tobyase.de>
kleines Filmröllchen <filmroellchen@serenityos.org> <malu.bertsch@gmail.com>
Lenny Maiorani <lenny@serenityos.org> <lenny@colorado.edu>
