<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
    <style>
        h1 {
            display: inline;
        }

        header {
            margin-bottom: 10px;
        }

        img {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <header>
        <img src="resource://icons/32x32/msgbox-warning.png" alt="Warning" width="24" height="24">
        <h1>Failed to load @failed_url@</h1>
    </header>
    <p>@error_message@</p>
</body>
</html>
