#
# Copyright (c) 2014, 2018, Oracle and/or its affiliates. All rights reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
#
# This code is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License version 2 only, as
# published by the Free Software Foundation.
#
# This code is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
# version 2 for more details (a copy is included in the LICENSE file that
# accompanied this code).
#
# You should have received a copy of the GNU General Public License version
# 2 along with this work; if not, write to the Free Software Foundation,
# Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
#
# Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
# or visit www.oracle.com if you need additional information or have any
# questions.
#
# Template to produce a ton of similar classes
#
package gc.g1.unloading.rootSetHelper.classesPool;

public class Class_NNN_ {
  public static java.lang.Object staticField;
  public static java.lang.Object staticField1;
  public static java.lang.Object staticField2;
  public static java.lang.Object staticField3;
  public static java.lang.Object staticField4;
  public static java.lang.Object staticField5;
  public static java.lang.Object staticField6;
  public static java.lang.Object staticField7;
  public static java.lang.Object staticField8;
  public static java.lang.Object staticField9;
  public static java.lang.Object staticField10;
  public static java.lang.Object staticField11;
  public static java.lang.Object staticField12;
  public static java.lang.Object staticField13;
  public static java.lang.Object staticField14;
  public static java.lang.Object staticField15;
  public static java.lang.Object staticField16;
  public static java.lang.Object staticField17;
  public static java.lang.Object staticField18;
  public static java.lang.Object staticField19;
  public static java.lang.Object staticField20;
  public static java.lang.Object staticField21;
  public static java.lang.Object staticField22;
  public static java.lang.Object staticField23;
  public static java.lang.Object staticField24;
  public static java.lang.Object staticField25;
  public static java.lang.Object staticField26;
  public static java.lang.Object staticField27;
  public static java.lang.Object staticField28;
  public static java.lang.Object staticField29;
  public static java.lang.Object staticField30;
  public static java.lang.Object staticField31;
  public static java.lang.Object staticField32;
  public static java.lang.Object staticField33;
  public static java.lang.Object staticField34;
  public static java.lang.Object staticField35;
  public static java.lang.Object staticField36;
  public static java.lang.Object staticField37;
  public static java.lang.Object staticField38;
  public static java.lang.Object staticField39;
  public static java.lang.Object staticField40;
  public static java.lang.Object staticField41;
  public static java.lang.Object staticField42;
  public static java.lang.Object staticField43;
  public static java.lang.Object staticField44;
  public static java.lang.Object staticField45;
  public static java.lang.Object staticField46;
  public static java.lang.Object staticField47;
  public static java.lang.Object staticField48;
  public static java.lang.Object staticField49;
  public static java.lang.Object staticField50;
  public static java.lang.Object staticField51;
  public static java.lang.Object staticField52;
  public static java.lang.Object staticField53;
  public static java.lang.Object staticField54;
  public static java.lang.Object staticField55;
  public static java.lang.Object staticField56;
  public static java.lang.Object staticField57;
  public static java.lang.Object staticField58;
  public static java.lang.Object staticField59;
  public static java.lang.Object staticField60;
  public static java.lang.Object staticField61;
  public static java.lang.Object staticField62;
  public static java.lang.Object staticField63;
  public static java.lang.Object staticField64;
  public static java.lang.Object staticField65;
  public static java.lang.Object staticField66;
  public static java.lang.Object staticField67;
  public static java.lang.Object staticField68;
  public static java.lang.Object staticField69;
  public static java.lang.Object staticField70;
  public static java.lang.Object staticField71;
  public static java.lang.Object staticField72;
  public static java.lang.Object staticField73;
  public static java.lang.Object staticField74;
  public static java.lang.Object staticField75;
  public static java.lang.Object staticField76;
  public static java.lang.Object staticField77;
  public static java.lang.Object staticField78;
  public static java.lang.Object staticField79;
  public static java.lang.Object staticField80;
  public static java.lang.Object staticField81;
  public static java.lang.Object staticField82;
  public static java.lang.Object staticField83;
  public static java.lang.Object staticField84;
  public static java.lang.Object staticField85;
  public static java.lang.Object staticField86;
  public static java.lang.Object staticField87;
  public static java.lang.Object staticField88;
  public static java.lang.Object staticField89;
  public static java.lang.Object staticField90;
  public static java.lang.Object staticField91;
  public static java.lang.Object staticField92;
  public static java.lang.Object staticField93;
  public static java.lang.Object staticField94;
  public static java.lang.Object staticField95;
  public static java.lang.Object staticField96;
  public static java.lang.Object staticField97;
  public static java.lang.Object staticField98;
  public static java.lang.Object staticField99;
  public static java.lang.Object staticField100;
  public static java.lang.Object staticField101;
  public static java.lang.Object staticField102;
  public static java.lang.Object staticField103;
  public static java.lang.Object staticField104;
  public static java.lang.Object staticField105;
  public static java.lang.Object staticField106;
  public static java.lang.Object staticField107;
  public static java.lang.Object staticField108;
  public static java.lang.Object staticField109;
  public static java.lang.Object staticField110;
  public static java.lang.Object staticField111;
  public static java.lang.Object staticField112;
  public static java.lang.Object staticField113;
  public static java.lang.Object staticField114;
  public static java.lang.Object staticField115;
  public static java.lang.Object staticField116;
  public static java.lang.Object staticField117;
  public static java.lang.Object staticField118;
  public static java.lang.Object staticField119;
  public static java.lang.Object staticField120;
  public static java.lang.Object staticField121;
  public static java.lang.Object staticField122;
  public static java.lang.Object staticField123;
  public static java.lang.Object staticField124;
  public static java.lang.Object staticField125;
  public static java.lang.Object staticField126;
  public static java.lang.Object staticField127;
  public static java.lang.Object staticField128;
  public static java.lang.Object staticField129;
  public static java.lang.Object staticField130;
  public static java.lang.Object staticField131;
  public static java.lang.Object staticField132;
  public static java.lang.Object staticField133;
  public static java.lang.Object staticField134;
  public static java.lang.Object staticField135;
  public static java.lang.Object staticField136;
  public static java.lang.Object staticField137;
  public static java.lang.Object staticField138;
  public static java.lang.Object staticField139;
  public static java.lang.Object staticField140;
  public static java.lang.Object staticField141;
  public static java.lang.Object staticField142;
  public static java.lang.Object staticField143;
  public static java.lang.Object staticField144;
  public static java.lang.Object staticField145;
  public static java.lang.Object staticField146;
  public static java.lang.Object staticField147;
  public static java.lang.Object staticField148;
  public static java.lang.Object staticField149;
  public static java.lang.Object staticField150;
  public static java.lang.Object staticField151;
  public static java.lang.Object staticField152;
  public static java.lang.Object staticField153;
  public static java.lang.Object staticField154;
  public static java.lang.Object staticField155;
  public static java.lang.Object staticField156;
  public static java.lang.Object staticField157;
  public static java.lang.Object staticField158;
  public static java.lang.Object staticField159;
  public static java.lang.Object staticField160;
  public static java.lang.Object staticField161;
  public static java.lang.Object staticField162;
  public static java.lang.Object staticField163;
  public static java.lang.Object staticField164;
  public static java.lang.Object staticField165;
  public static java.lang.Object staticField166;
  public static java.lang.Object staticField167;
  public static java.lang.Object staticField168;
  public static java.lang.Object staticField169;
  public static java.lang.Object staticField170;
  public static java.lang.Object staticField171;
  public static java.lang.Object staticField172;
  public static java.lang.Object staticField173;
  public static java.lang.Object staticField174;
  public static java.lang.Object staticField175;
  public static java.lang.Object staticField176;
  public static java.lang.Object staticField177;
  public static java.lang.Object staticField178;
  public static java.lang.Object staticField179;
  public static java.lang.Object staticField180;
  public static java.lang.Object staticField181;
  public static java.lang.Object staticField182;
  public static java.lang.Object staticField183;
  public static java.lang.Object staticField184;
  public static java.lang.Object staticField185;
  public static java.lang.Object staticField186;
  public static java.lang.Object staticField187;
  public static java.lang.Object staticField188;
  public static java.lang.Object staticField189;
  public static java.lang.Object staticField190;
  public static java.lang.Object staticField191;
  public static java.lang.Object staticField192;
  public static java.lang.Object staticField193;
  public static java.lang.Object staticField194;
  public static java.lang.Object staticField195;
  public static java.lang.Object staticField196;
  public static java.lang.Object staticField197;
  public static java.lang.Object staticField198;
  public static java.lang.Object staticField199;
  public static java.lang.Object staticField200;
  public static java.lang.Object staticField201;
  public static java.lang.Object staticField202;
  public static java.lang.Object staticField203;
  public static java.lang.Object staticField204;
  public static java.lang.Object staticField205;
  public static java.lang.Object staticField206;
  public static java.lang.Object staticField207;
  public static java.lang.Object staticField208;
  public static java.lang.Object staticField209;
  public static java.lang.Object staticField210;
  public static java.lang.Object staticField211;
  public static java.lang.Object staticField212;
  public static java.lang.Object staticField213;
  public static java.lang.Object staticField214;
  public static java.lang.Object staticField215;
  public static java.lang.Object staticField216;
  public static java.lang.Object staticField217;
  public static java.lang.Object staticField218;
  public static java.lang.Object staticField219;
  public static java.lang.Object staticField220;
  public static java.lang.Object staticField221;
  public static java.lang.Object staticField222;
  public static java.lang.Object staticField223;
  public static java.lang.Object staticField224;
  public static java.lang.Object staticField225;
  public static java.lang.Object staticField226;
  public static java.lang.Object staticField227;
  public static java.lang.Object staticField228;
  public static java.lang.Object staticField229;
  public static java.lang.Object staticField230;
  public static java.lang.Object staticField231;
  public static java.lang.Object staticField232;
  public static java.lang.Object staticField233;
  public static java.lang.Object staticField234;
  public static java.lang.Object staticField235;
  public static java.lang.Object staticField236;
  public static java.lang.Object staticField237;
  public static java.lang.Object staticField238;
  public static java.lang.Object staticField239;
  public static java.lang.Object staticField240;
  public static java.lang.Object staticField241;
  public static java.lang.Object staticField242;
  public static java.lang.Object staticField243;
  public static java.lang.Object staticField244;
  public static java.lang.Object staticField245;
  public static java.lang.Object staticField246;
  public static java.lang.Object staticField247;
  public static java.lang.Object staticField248;
  public static java.lang.Object staticField249;
  public static java.lang.Object staticField250;
  public static java.lang.Object staticField251;
  public static java.lang.Object staticField252;
  public static java.lang.Object staticField253;
  public static java.lang.Object staticField254;
  public static java.lang.Object staticField255;
  public static java.lang.Object staticField256;
  public static java.lang.Object staticField257;
  public static java.lang.Object staticField258;
  public static java.lang.Object staticField259;
  public static java.lang.Object staticField260;
  public static java.lang.Object staticField261;
  public static java.lang.Object staticField262;
  public static java.lang.Object staticField263;
  public static java.lang.Object staticField264;
  public static java.lang.Object staticField265;
  public static java.lang.Object staticField266;
  public static java.lang.Object staticField267;
  public static java.lang.Object staticField268;
  public static java.lang.Object staticField269;
  public static java.lang.Object staticField270;
  public static java.lang.Object staticField271;
  public static java.lang.Object staticField272;
  public static java.lang.Object staticField273;
  public static java.lang.Object staticField274;
  public static java.lang.Object staticField275;
  public static java.lang.Object staticField276;
  public static java.lang.Object staticField277;
  public static java.lang.Object staticField278;
  public static java.lang.Object staticField279;
  public static java.lang.Object staticField280;
  public static java.lang.Object staticField281;
  public static java.lang.Object staticField282;
  public static java.lang.Object staticField283;
  public static java.lang.Object staticField284;
  public static java.lang.Object staticField285;
  public static java.lang.Object staticField286;
  public static java.lang.Object staticField287;
  public static java.lang.Object staticField288;
  public static java.lang.Object staticField289;
  public static java.lang.Object staticField290;
  public static java.lang.Object staticField291;
  public static java.lang.Object staticField292;
  public static java.lang.Object staticField293;
  public static java.lang.Object staticField294;
  public static java.lang.Object staticField295;
  public static java.lang.Object staticField296;
  public static java.lang.Object staticField297;
  public static java.lang.Object staticField298;
  public static java.lang.Object staticField299;
  public static java.lang.Object staticField300;
  public static java.lang.Object staticField301;
  public static java.lang.Object staticField302;
  public static java.lang.Object staticField303;
  public static java.lang.Object staticField304;
  public static java.lang.Object staticField305;
  public static java.lang.Object staticField306;
  public static java.lang.Object staticField307;
  public static java.lang.Object staticField308;
  public static java.lang.Object staticField309;
  public static java.lang.Object staticField310;
  public static java.lang.Object staticField311;
  public static java.lang.Object staticField312;
  public static java.lang.Object staticField313;
  public static java.lang.Object staticField314;
  public static java.lang.Object staticField315;
  public static java.lang.Object staticField316;
  public static java.lang.Object staticField317;
  public static java.lang.Object staticField318;
  public static java.lang.Object staticField319;
  public static java.lang.Object staticField320;
  public static java.lang.Object staticField321;
  public static java.lang.Object staticField322;
  public static java.lang.Object staticField323;
  public static java.lang.Object staticField324;
  public static java.lang.Object staticField325;
  public static java.lang.Object staticField326;
  public static java.lang.Object staticField327;
  public static java.lang.Object staticField328;
  public static java.lang.Object staticField329;
  public static java.lang.Object staticField330;
  public static java.lang.Object staticField331;
  public static java.lang.Object staticField332;
  public static java.lang.Object staticField333;
  public static java.lang.Object staticField334;
  public static java.lang.Object staticField335;
  public static java.lang.Object staticField336;
  public static java.lang.Object staticField337;
  public static java.lang.Object staticField338;
  public static java.lang.Object staticField339;
  public static java.lang.Object staticField340;
  public static java.lang.Object staticField341;
  public static java.lang.Object staticField342;
  public static java.lang.Object staticField343;
  public static java.lang.Object staticField344;
  public static java.lang.Object staticField345;
  public static java.lang.Object staticField346;
  public static java.lang.Object staticField347;
  public static java.lang.Object staticField348;
  public static java.lang.Object staticField349;
  public static java.lang.Object staticField350;
  public static java.lang.Object staticField351;
  public static java.lang.Object staticField352;
  public static java.lang.Object staticField353;
  public static java.lang.Object staticField354;
  public static java.lang.Object staticField355;
  public static java.lang.Object staticField356;
  public static java.lang.Object staticField357;
  public static java.lang.Object staticField358;
  public static java.lang.Object staticField359;
  public static java.lang.Object staticField360;
  public static java.lang.Object staticField361;
  public static java.lang.Object staticField362;
  public static java.lang.Object staticField363;
  public static java.lang.Object staticField364;
  public static java.lang.Object staticField365;
  public static java.lang.Object staticField366;
  public static java.lang.Object staticField367;
  public static java.lang.Object staticField368;
  public static java.lang.Object staticField369;
  public static java.lang.Object staticField370;
  public static java.lang.Object staticField371;
  public static java.lang.Object staticField372;
  public static java.lang.Object staticField373;
  public static java.lang.Object staticField374;
  public static java.lang.Object staticField375;
  public static java.lang.Object staticField376;
  public static java.lang.Object staticField377;
  public static java.lang.Object staticField378;
  public static java.lang.Object staticField379;
  public static java.lang.Object staticField380;
  public static java.lang.Object staticField381;
  public static java.lang.Object staticField382;
  public static java.lang.Object staticField383;
  public static java.lang.Object staticField384;
  public static java.lang.Object staticField385;
  public static java.lang.Object staticField386;
  public static java.lang.Object staticField387;
  public static java.lang.Object staticField388;
  public static java.lang.Object staticField389;
  public static java.lang.Object staticField390;
  public static java.lang.Object staticField391;
  public static java.lang.Object staticField392;
  public static java.lang.Object staticField393;
  public static java.lang.Object staticField394;
  public static java.lang.Object staticField395;
  public static java.lang.Object staticField396;
  public static java.lang.Object staticField397;
  public static java.lang.Object staticField398;
  public static java.lang.Object staticField399;
  public static java.lang.Object staticField400;
  public static java.lang.Object staticField401;
  public static java.lang.Object staticField402;
  public static java.lang.Object staticField403;
  public static java.lang.Object staticField404;
  public static java.lang.Object staticField405;
  public static java.lang.Object staticField406;
  public static java.lang.Object staticField407;
  public static java.lang.Object staticField408;
  public static java.lang.Object staticField409;
  public static java.lang.Object staticField410;
  public static java.lang.Object staticField411;
  public static java.lang.Object staticField412;
  public static java.lang.Object staticField413;
  public static java.lang.Object staticField414;
  public static java.lang.Object staticField415;
  public static java.lang.Object staticField416;
  public static java.lang.Object staticField417;
  public static java.lang.Object staticField418;
  public static java.lang.Object staticField419;
  public static java.lang.Object staticField420;
  public static java.lang.Object staticField421;
  public static java.lang.Object staticField422;
  public static java.lang.Object staticField423;
  public static java.lang.Object staticField424;
  public static java.lang.Object staticField425;
  public static java.lang.Object staticField426;
  public static java.lang.Object staticField427;
  public static java.lang.Object staticField428;
  public static java.lang.Object staticField429;
  public static java.lang.Object staticField430;
  public static java.lang.Object staticField431;
  public static java.lang.Object staticField432;
  public static java.lang.Object staticField433;
  public static java.lang.Object staticField434;
  public static java.lang.Object staticField435;
  public static java.lang.Object staticField436;
  public static java.lang.Object staticField437;
  public static java.lang.Object staticField438;
  public static java.lang.Object staticField439;
  public static java.lang.Object staticField440;
  public static java.lang.Object staticField441;
  public static java.lang.Object staticField442;
  public static java.lang.Object staticField443;
  public static java.lang.Object staticField444;
  public static java.lang.Object staticField445;
  public static java.lang.Object staticField446;
  public static java.lang.Object staticField447;
  public static java.lang.Object staticField448;
  public static java.lang.Object staticField449;
  public static java.lang.Object staticField450;
  public static java.lang.Object staticField451;
  public static java.lang.Object staticField452;
  public static java.lang.Object staticField453;
  public static java.lang.Object staticField454;
  public static java.lang.Object staticField455;
  public static java.lang.Object staticField456;
  public static java.lang.Object staticField457;
  public static java.lang.Object staticField458;
  public static java.lang.Object staticField459;
  public static java.lang.Object staticField460;
  public static java.lang.Object staticField461;
  public static java.lang.Object staticField462;
  public static java.lang.Object staticField463;
  public static java.lang.Object staticField464;
  public static java.lang.Object staticField465;
  public static java.lang.Object staticField466;
  public static java.lang.Object staticField467;
  public static java.lang.Object staticField468;
  public static java.lang.Object staticField469;
  public static java.lang.Object staticField470;
  public static java.lang.Object staticField471;
  public static java.lang.Object staticField472;
  public static java.lang.Object staticField473;
  public static java.lang.Object staticField474;
  public static java.lang.Object staticField475;
  public static java.lang.Object staticField476;
  public static java.lang.Object staticField477;
  public static java.lang.Object staticField478;
  public static java.lang.Object staticField479;
  public static java.lang.Object staticField480;
  public static java.lang.Object staticField481;
  public static java.lang.Object staticField482;
  public static java.lang.Object staticField483;
  public static java.lang.Object staticField484;
  public static java.lang.Object staticField485;
  public static java.lang.Object staticField486;
  public static java.lang.Object staticField487;
  public static java.lang.Object staticField488;
  public static java.lang.Object staticField489;
  public static java.lang.Object staticField490;
  public static java.lang.Object staticField491;
  public static java.lang.Object staticField492;
  public static java.lang.Object staticField493;
  public static java.lang.Object staticField494;
  public static java.lang.Object staticField495;
  public static java.lang.Object staticField496;
  public static java.lang.Object staticField497;
  public static java.lang.Object staticField498;
  public static java.lang.Object staticField499;
  public static java.lang.Object staticField500;
  public static java.lang.Object staticField501;
  public static java.lang.Object staticField502;
  public static java.lang.Object staticField503;
  public static java.lang.Object staticField504;
  public static java.lang.Object staticField505;
  public static java.lang.Object staticField506;
  public static java.lang.Object staticField507;
  public static java.lang.Object staticField508;
  public static java.lang.Object staticField509;
  public static java.lang.Object staticField510;
  public static java.lang.Object staticField511;
  public static java.lang.Object staticField512;
  public static java.lang.Object staticField513;
  public static java.lang.Object staticField514;
  public static java.lang.Object staticField515;
  public static java.lang.Object staticField516;
  public static java.lang.Object staticField517;
  public static java.lang.Object staticField518;
  public static java.lang.Object staticField519;
  public static java.lang.Object staticField520;
  public static java.lang.Object staticField521;
  public static java.lang.Object staticField522;
  public static java.lang.Object staticField523;
  public static java.lang.Object staticField524;
  public static java.lang.Object staticField525;
  public static java.lang.Object staticField526;
  public static java.lang.Object staticField527;
  public static java.lang.Object staticField528;
  public static java.lang.Object staticField529;
  public static java.lang.Object staticField530;
  public static java.lang.Object staticField531;
  public static java.lang.Object staticField532;
  public static java.lang.Object staticField533;
  public static java.lang.Object staticField534;
  public static java.lang.Object staticField535;
  public static java.lang.Object staticField536;
  public static java.lang.Object staticField537;
  public static java.lang.Object staticField538;
  public static java.lang.Object staticField539;
  public static java.lang.Object staticField540;
  public static java.lang.Object staticField541;
  public static java.lang.Object staticField542;
  public static java.lang.Object staticField543;
  public static java.lang.Object staticField544;
  public static java.lang.Object staticField545;
  public static java.lang.Object staticField546;
  public static java.lang.Object staticField547;
  public static java.lang.Object staticField548;
  public static java.lang.Object staticField549;
  public static java.lang.Object staticField550;
  public static java.lang.Object staticField551;
  public static java.lang.Object staticField552;
  public static java.lang.Object staticField553;
  public static java.lang.Object staticField554;
  public static java.lang.Object staticField555;
  public static java.lang.Object staticField556;
  public static java.lang.Object staticField557;
  public static java.lang.Object staticField558;
  public static java.lang.Object staticField559;
  public static java.lang.Object staticField560;
  public static java.lang.Object staticField561;
  public static java.lang.Object staticField562;
  public static java.lang.Object staticField563;
  public static java.lang.Object staticField564;
  public static java.lang.Object staticField565;
  public static java.lang.Object staticField566;
  public static java.lang.Object staticField567;
  public static java.lang.Object staticField568;
  public static java.lang.Object staticField569;
  public static java.lang.Object staticField570;
  public static java.lang.Object staticField571;
  public static java.lang.Object staticField572;
  public static java.lang.Object staticField573;
  public static java.lang.Object staticField574;
  public static java.lang.Object staticField575;
  public static java.lang.Object staticField576;
  public static java.lang.Object staticField577;
  public static java.lang.Object staticField578;
  public static java.lang.Object staticField579;
  public static java.lang.Object staticField580;
  public static java.lang.Object staticField581;
  public static java.lang.Object staticField582;
  public static java.lang.Object staticField583;
  public static java.lang.Object staticField584;
  public static java.lang.Object staticField585;
  public static java.lang.Object staticField586;
  public static java.lang.Object staticField587;
  public static java.lang.Object staticField588;
  public static java.lang.Object staticField589;
  public static java.lang.Object staticField590;
  public static java.lang.Object staticField591;
  public static java.lang.Object staticField592;
  public static java.lang.Object staticField593;
  public static java.lang.Object staticField594;
  public static java.lang.Object staticField595;
  public static java.lang.Object staticField596;
  public static java.lang.Object staticField597;
  public static java.lang.Object staticField598;
  public static java.lang.Object staticField599;
  public static java.lang.Object staticField600;
  public static java.lang.Object staticField601;
  public static java.lang.Object staticField602;
  public static java.lang.Object staticField603;
  public static java.lang.Object staticField604;
  public static java.lang.Object staticField605;
  public static java.lang.Object staticField606;
  public static java.lang.Object staticField607;
  public static java.lang.Object staticField608;
  public static java.lang.Object staticField609;
  public static java.lang.Object staticField610;
  public static java.lang.Object staticField611;
  public static java.lang.Object staticField612;
  public static java.lang.Object staticField613;
  public static java.lang.Object staticField614;
  public static java.lang.Object staticField615;
  public static java.lang.Object staticField616;
  public static java.lang.Object staticField617;
  public static java.lang.Object staticField618;
  public static java.lang.Object staticField619;
  public static java.lang.Object staticField620;
  public static java.lang.Object staticField621;
  public static java.lang.Object staticField622;
  public static java.lang.Object staticField623;
  public static java.lang.Object staticField624;
  public static java.lang.Object staticField625;
  public static java.lang.Object staticField626;
  public static java.lang.Object staticField627;
  public static java.lang.Object staticField628;
  public static java.lang.Object staticField629;
  public static java.lang.Object staticField630;
  public static java.lang.Object staticField631;
  public static java.lang.Object staticField632;
  public static java.lang.Object staticField633;
  public static java.lang.Object staticField634;
  public static java.lang.Object staticField635;
  public static java.lang.Object staticField636;
  public static java.lang.Object staticField637;
  public static java.lang.Object staticField638;
  public static java.lang.Object staticField639;
  public static java.lang.Object staticField640;
  public static java.lang.Object staticField641;
  public static java.lang.Object staticField642;
  public static java.lang.Object staticField643;
  public static java.lang.Object staticField644;
  public static java.lang.Object staticField645;
  public static java.lang.Object staticField646;
  public static java.lang.Object staticField647;
  public static java.lang.Object staticField648;
  public static java.lang.Object staticField649;
  public static java.lang.Object staticField650;
  public static java.lang.Object staticField651;
  public static java.lang.Object staticField652;
  public static java.lang.Object staticField653;
  public static java.lang.Object staticField654;
  public static java.lang.Object staticField655;
  public static java.lang.Object staticField656;
  public static java.lang.Object staticField657;
  public static java.lang.Object staticField658;
  public static java.lang.Object staticField659;
  public static java.lang.Object staticField660;
  public static java.lang.Object staticField661;
  public static java.lang.Object staticField662;
  public static java.lang.Object staticField663;
  public static java.lang.Object staticField664;
  public static java.lang.Object staticField665;
  public static java.lang.Object staticField666;
  public static java.lang.Object staticField667;
  public static java.lang.Object staticField668;
  public static java.lang.Object staticField669;
  public static java.lang.Object staticField670;
  public static java.lang.Object staticField671;
  public static java.lang.Object staticField672;
  public static java.lang.Object staticField673;
  public static java.lang.Object staticField674;
  public static java.lang.Object staticField675;
  public static java.lang.Object staticField676;
  public static java.lang.Object staticField677;
  public static java.lang.Object staticField678;
  public static java.lang.Object staticField679;
  public static java.lang.Object staticField680;
  public static java.lang.Object staticField681;
  public static java.lang.Object staticField682;
  public static java.lang.Object staticField683;
  public static java.lang.Object staticField684;
  public static java.lang.Object staticField685;
  public static java.lang.Object staticField686;
  public static java.lang.Object staticField687;
  public static java.lang.Object staticField688;
  public static java.lang.Object staticField689;
  public static java.lang.Object staticField690;
  public static java.lang.Object staticField691;
  public static java.lang.Object staticField692;
  public static java.lang.Object staticField693;
  public static java.lang.Object staticField694;
  public static java.lang.Object staticField695;
  public static java.lang.Object staticField696;
  public static java.lang.Object staticField697;
  public static java.lang.Object staticField698;
  public static java.lang.Object staticField699;
  public static java.lang.Object staticField700;
  public static java.lang.Object staticField701;
  public static java.lang.Object staticField702;
  public static java.lang.Object staticField703;
  public static java.lang.Object staticField704;
  public static java.lang.Object staticField705;
  public static java.lang.Object staticField706;
  public static java.lang.Object staticField707;
  public static java.lang.Object staticField708;
  public static java.lang.Object staticField709;
  public static java.lang.Object staticField710;
  public static java.lang.Object staticField711;
  public static java.lang.Object staticField712;
  public static java.lang.Object staticField713;
  public static java.lang.Object staticField714;
  public static java.lang.Object staticField715;
  public static java.lang.Object staticField716;
  public static java.lang.Object staticField717;
  public static java.lang.Object staticField718;
  public static java.lang.Object staticField719;
  public static java.lang.Object staticField720;
  public static java.lang.Object staticField721;
  public static java.lang.Object staticField722;
  public static java.lang.Object staticField723;
  public static java.lang.Object staticField724;
  public static java.lang.Object staticField725;
  public static java.lang.Object staticField726;
  public static java.lang.Object staticField727;
  public static java.lang.Object staticField728;
  public static java.lang.Object staticField729;
  public static java.lang.Object staticField730;
  public static java.lang.Object staticField731;
  public static java.lang.Object staticField732;
  public static java.lang.Object staticField733;
  public static java.lang.Object staticField734;
  public static java.lang.Object staticField735;
  public static java.lang.Object staticField736;
  public static java.lang.Object staticField737;
  public static java.lang.Object staticField738;
  public static java.lang.Object staticField739;
  public static java.lang.Object staticField740;
  public static java.lang.Object staticField741;
  public static java.lang.Object staticField742;
  public static java.lang.Object staticField743;
  public static java.lang.Object staticField744;
  public static java.lang.Object staticField745;
  public static java.lang.Object staticField746;
  public static java.lang.Object staticField747;
  public static java.lang.Object staticField748;
  public static java.lang.Object staticField749;
  public static java.lang.Object staticField750;
  public static java.lang.Object staticField751;
  public static java.lang.Object staticField752;
  public static java.lang.Object staticField753;
  public static java.lang.Object staticField754;
  public static java.lang.Object staticField755;
  public static java.lang.Object staticField756;
  public static java.lang.Object staticField757;
  public static java.lang.Object staticField758;
  public static java.lang.Object staticField759;
  public static java.lang.Object staticField760;
  public static java.lang.Object staticField761;
  public static java.lang.Object staticField762;
  public static java.lang.Object staticField763;
  public static java.lang.Object staticField764;
  public static java.lang.Object staticField765;
  public static java.lang.Object staticField766;
  public static java.lang.Object staticField767;
  public static java.lang.Object staticField768;
  public static java.lang.Object staticField769;
  public static java.lang.Object staticField770;
  public static java.lang.Object staticField771;
  public static java.lang.Object staticField772;
  public static java.lang.Object staticField773;
  public static java.lang.Object staticField774;
  public static java.lang.Object staticField775;
  public static java.lang.Object staticField776;
  public static java.lang.Object staticField777;
  public static java.lang.Object staticField778;
  public static java.lang.Object staticField779;
  public static java.lang.Object staticField780;
  public static java.lang.Object staticField781;
  public static java.lang.Object staticField782;
  public static java.lang.Object staticField783;
  public static java.lang.Object staticField784;
  public static java.lang.Object staticField785;
  public static java.lang.Object staticField786;
  public static java.lang.Object staticField787;
  public static java.lang.Object staticField788;
  public static java.lang.Object staticField789;
  public static java.lang.Object staticField790;
  public static java.lang.Object staticField791;
  public static java.lang.Object staticField792;
  public static java.lang.Object staticField793;
  public static java.lang.Object staticField794;
  public static java.lang.Object staticField795;
  public static java.lang.Object staticField796;
  public static java.lang.Object staticField797;
  public static java.lang.Object staticField798;
  public static java.lang.Object staticField799;
  public static java.lang.Object staticField800;
  public static java.lang.Object staticField801;
  public static java.lang.Object staticField802;
  public static java.lang.Object staticField803;
  public static java.lang.Object staticField804;
  public static java.lang.Object staticField805;
  public static java.lang.Object staticField806;
  public static java.lang.Object staticField807;
  public static java.lang.Object staticField808;
  public static java.lang.Object staticField809;
  public static java.lang.Object staticField810;
  public static java.lang.Object staticField811;
  public static java.lang.Object staticField812;
  public static java.lang.Object staticField813;
  public static java.lang.Object staticField814;
  public static java.lang.Object staticField815;
  public static java.lang.Object staticField816;
  public static java.lang.Object staticField817;
  public static java.lang.Object staticField818;
  public static java.lang.Object staticField819;
  public static java.lang.Object staticField820;
  public static java.lang.Object staticField821;
  public static java.lang.Object staticField822;
  public static java.lang.Object staticField823;
  public static java.lang.Object staticField824;
  public static java.lang.Object staticField825;
  public static java.lang.Object staticField826;
  public static java.lang.Object staticField827;
  public static java.lang.Object staticField828;
  public static java.lang.Object staticField829;
  public static java.lang.Object staticField830;
  public static java.lang.Object staticField831;
  public static java.lang.Object staticField832;
  public static java.lang.Object staticField833;
  public static java.lang.Object staticField834;
  public static java.lang.Object staticField835;
  public static java.lang.Object staticField836;
  public static java.lang.Object staticField837;
  public static java.lang.Object staticField838;
  public static java.lang.Object staticField839;
  public static java.lang.Object staticField840;
  public static java.lang.Object staticField841;
  public static java.lang.Object staticField842;
  public static java.lang.Object staticField843;
  public static java.lang.Object staticField844;
  public static java.lang.Object staticField845;
  public static java.lang.Object staticField846;
  public static java.lang.Object staticField847;
  public static java.lang.Object staticField848;
  public static java.lang.Object staticField849;
  public static java.lang.Object staticField850;
  public static java.lang.Object staticField851;
  public static java.lang.Object staticField852;
  public static java.lang.Object staticField853;
  public static java.lang.Object staticField854;
  public static java.lang.Object staticField855;
  public static java.lang.Object staticField856;
  public static java.lang.Object staticField857;
  public static java.lang.Object staticField858;
  public static java.lang.Object staticField859;
  public static java.lang.Object staticField860;
  public static java.lang.Object staticField861;
  public static java.lang.Object staticField862;
  public static java.lang.Object staticField863;
  public static java.lang.Object staticField864;
  public static java.lang.Object staticField865;
  public static java.lang.Object staticField866;
  public static java.lang.Object staticField867;
  public static java.lang.Object staticField868;
  public static java.lang.Object staticField869;
  public static java.lang.Object staticField870;
  public static java.lang.Object staticField871;
  public static java.lang.Object staticField872;
  public static java.lang.Object staticField873;
  public static java.lang.Object staticField874;
  public static java.lang.Object staticField875;
  public static java.lang.Object staticField876;
  public static java.lang.Object staticField877;
  public static java.lang.Object staticField878;
  public static java.lang.Object staticField879;
  public static java.lang.Object staticField880;
  public static java.lang.Object staticField881;
  public static java.lang.Object staticField882;
  public static java.lang.Object staticField883;
  public static java.lang.Object staticField884;
  public static java.lang.Object staticField885;
  public static java.lang.Object staticField886;
  public static java.lang.Object staticField887;
  public static java.lang.Object staticField888;
  public static java.lang.Object staticField889;
  public static java.lang.Object staticField890;
  public static java.lang.Object staticField891;
  public static java.lang.Object staticField892;
  public static java.lang.Object staticField893;
  public static java.lang.Object staticField894;
  public static java.lang.Object staticField895;
  public static java.lang.Object staticField896;
  public static java.lang.Object staticField897;
  public static java.lang.Object staticField898;
  public static java.lang.Object staticField899;
  public static java.lang.Object staticField900;
  public static java.lang.Object staticField901;
  public static java.lang.Object staticField902;
  public static java.lang.Object staticField903;
  public static java.lang.Object staticField904;
  public static java.lang.Object staticField905;
  public static java.lang.Object staticField906;
  public static java.lang.Object staticField907;
  public static java.lang.Object staticField908;
  public static java.lang.Object staticField909;
  public static java.lang.Object staticField910;
  public static java.lang.Object staticField911;
  public static java.lang.Object staticField912;
  public static java.lang.Object staticField913;
  public static java.lang.Object staticField914;
  public static java.lang.Object staticField915;
  public static java.lang.Object staticField916;
  public static java.lang.Object staticField917;
  public static java.lang.Object staticField918;
  public static java.lang.Object staticField919;
  public static java.lang.Object staticField920;
  public static java.lang.Object staticField921;
  public static java.lang.Object staticField922;
  public static java.lang.Object staticField923;
  public static java.lang.Object staticField924;
  public static java.lang.Object staticField925;
  public static java.lang.Object staticField926;
  public static java.lang.Object staticField927;
  public static java.lang.Object staticField928;
  public static java.lang.Object staticField929;
  public static java.lang.Object staticField930;
  public static java.lang.Object staticField931;
  public static java.lang.Object staticField932;
  public static java.lang.Object staticField933;
  public static java.lang.Object staticField934;
  public static java.lang.Object staticField935;
  public static java.lang.Object staticField936;
  public static java.lang.Object staticField937;
  public static java.lang.Object staticField938;
  public static java.lang.Object staticField939;
  public static java.lang.Object staticField940;
  public static java.lang.Object staticField941;
  public static java.lang.Object staticField942;
  public static java.lang.Object staticField943;
  public static java.lang.Object staticField944;
  public static java.lang.Object staticField945;
  public static java.lang.Object staticField946;
  public static java.lang.Object staticField947;
  public static java.lang.Object staticField948;
  public static java.lang.Object staticField949;
  public static java.lang.Object staticField950;
  public static java.lang.Object staticField951;
  public static java.lang.Object staticField952;
  public static java.lang.Object staticField953;
  public static java.lang.Object staticField954;
  public static java.lang.Object staticField955;
  public static java.lang.Object staticField956;
  public static java.lang.Object staticField957;
  public static java.lang.Object staticField958;
  public static java.lang.Object staticField959;
  public static java.lang.Object staticField960;
  public static java.lang.Object staticField961;
  public static java.lang.Object staticField962;
  public static java.lang.Object staticField963;
  public static java.lang.Object staticField964;
  public static java.lang.Object staticField965;
  public static java.lang.Object staticField966;
  public static java.lang.Object staticField967;
  public static java.lang.Object staticField968;
  public static java.lang.Object staticField969;
  public static java.lang.Object staticField970;
  public static java.lang.Object staticField971;
  public static java.lang.Object staticField972;
  public static java.lang.Object staticField973;
  public static java.lang.Object staticField974;
  public static java.lang.Object staticField975;
  public static java.lang.Object staticField976;
  public static java.lang.Object staticField977;
  public static java.lang.Object staticField978;
  public static java.lang.Object staticField979;
  public static java.lang.Object staticField980;
  public static java.lang.Object staticField981;
  public static java.lang.Object staticField982;
  public static java.lang.Object staticField983;
  public static java.lang.Object staticField984;
  public static java.lang.Object staticField985;
  public static java.lang.Object staticField986;
  public static java.lang.Object staticField987;
  public static java.lang.Object staticField988;
  public static java.lang.Object staticField989;
  public static java.lang.Object staticField990;
  public static java.lang.Object staticField991;
  public static java.lang.Object staticField992;
  public static java.lang.Object staticField993;
  public static java.lang.Object staticField994;
  public static java.lang.Object staticField995;
  public static java.lang.Object staticField996;
  public static java.lang.Object staticField997;
  public static java.lang.Object staticField998;
  public static java.lang.Object staticField999;
  public static java.lang.Object staticField1000;
  public Class_NNN_() {System.out.println("In constructor of Class_NNN_"); };
}
