/*
 *
 * @bug  4408997
 * Used by GetInstance test.
 */
grant {
    permission java.security.SecurityPermission "putProviderProperty.StubProvider";
};
