<!DOCTYPE html><style>
    * { border: 1px solid black; }
    .grid { display: grid; grid-template-columns: auto auto; padding: 20px; }
    .start { align-items: start; }
    .center { align-items: center; }
    .end { align-items: end; }
    .item-padding { padding: 10px;}
</style>
<body>
<div class="grid start"><div>Start1</div><div class="item-padding">Start2</div></div>
<div class="grid center"><div>Center1</div><div class="item-padding">Center2</div></div>
<div class="grid end"><div>End1</div><div class="item-padding">End2</div></div>