<!DOCTYPE html><style>
    * { border: 1px solid black; }
    .grid { display: grid; grid-template-columns: auto auto; padding: 20px; }
    .start { align-self: start; }
    .center { align-self: center; }
    .end { align-self: end; }
    .item-padding { padding: 10px;}
</style>
<body>
<div class="grid"><div class="start">Start1</div><div class="item-padding">Start2</div></div>
<div class="grid"><div class="center">Center1</div><div class="item-padding">Center2</div></div>
<div class="grid"><div class="end">End1</div><div class="item-padding">End2</div></div>