<!DOCTYPE html>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 100px 100px repeat(auto-fill, minmax(50px, 1fr));
        grid-gap: 10px;
    }

    .grid-item {
        background-color: #4caf50;
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 14px;
    }
</style>
<div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
</div>
