<!DOCTYPE html><style type="text/css">
    * {
        outline: 1px solid black;
        margin: 0px;
        padding: 0px;
    }
    html {
        background: white;
    }
    body {
        width: max-content;
        background: pink;
    }
    #menu {
        display: grid;
        grid-auto-flow: column;
        gap: 50px;
        background: orange;
    }
    #wat {
        background: green;
    }
</style><body><div id="menu"><div>Community</div><div>Community</div></div><div id="wat">wat</div>