<!DOCTYPE html><style>
    * { border: 1px solid black; }
    .grid { display: grid; }
    .start { justify-items: start; }
    .center { justify-items: center; }
    .end { justify-items: end; }
    .left { justify-items: left; }
    .right { justify-items: right; }
</style>
<body>
<div class="grid start"><div>Start</div></div>
<div class="grid center"><div>Center</div></div>
<div class="grid end"><div>End</div></div>
<div class="grid left"><div>Left</div></div>
<div class="grid right"><div>Right</div></div>
