<!doctype html><style>
* {
    outline: 1px solid black;
}
.container {
    grid-template-columns: auto auto;
    display: grid;
}
</style>
<div class="container" style="justify-content: normal;"><div>wikipedia</div><div>wikipedia</div></div>
<div class="container" style="justify-content: stretch;"><div>wikipedia</div><div>wikipedia</div></div>
<div class="container" style="justify-content: start;"><div>wikipedia</div><div>wikipedia</div></div>
<div class="container" style="justify-content: center;"><div>wikipedia</div><div>wikipedia</div></div>
<div class="container" style="justify-content: end;"><div>wikipedia</div><div>wikipedia</div></div>
<div class="container" style="justify-content: left;"><div>wikipedia</div><div>wikipedia</div></div>
<div class="container" style="justify-content: right;"><div>wikipedia</div><div>wikipedia</div></div>
