<!DOCTYPE html>
<style>
    body {
        display: flex;
        flex-direction: column;
        height: 50px;
    }

    .content {
        display: grid;
        max-width: 100%;
    }

    .footer {
        background: black;
        color: white;
    }
</style>

<div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim elit eget arcu accumsan imperdiet vulputate
    a justo. Phasellus tincidunt sem non tellus tristique hendrerit quis eu eros. Morbi dolor erat, posuere ut feugiat
    rhoncus, vestibulum vel tortor.
</div>

<div class="footer">Lorem ipsum dolor sit amet.</div>
