<style>
.grid {
display: grid;
grid-template-columns: auto;
}

.a {
grid-column: -3;
background-color: lightblue;
}

.b {
grid-column-start: -1;
background-color: lightcoral;
}

.c {
grid-column: 1;
background-color: lightsalmon;
}

.d {
grid-column: 3;
background-color: lightgreen;
}
</style>
<div class="grid">
<div class="a">a</div>
<div class="c">c</div>
<div class="b">b</div>
<div class="b">b</div>
<div class="d">d</div>
<div class="c">c</div>
<div class="d">d</div>
<div class="e">e</div>
<div class="f">f</div>
</div>
  