<style>
    * {
        border: 1px solid black;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .grid-item {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    .item-1 {
        order: 2;
    }

    .item-2 {
        order: 3;
    }

    .item-3 {
        order: 1;
    }
</style>
<div class="grid-container">
    <div class="grid-item item-1">1</div>
    <div class="grid-item item-2">2</div>
    <div class="grid-item item-3">3</div>
</div>
