<?xml version="1.0" encoding="UTF-8"?>

<catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog" xml:base="http://local/base/dtd/">
    <system systemId="http://remote/dtd/alice/docAlice.dtd" uri="http://local/dtd/docAliceSys.dtd" />

    <system systemId="http://remote/dtd/bob/docBob.dtd" uri="docBobSys.dtd" />

    <system systemId="http://remote/dtd/carl/docCarl.dtd" uri="docCarlSys.dtd" xml:base="http://local/carlBase/dtd/" />

    <system systemId="http://remote/dtd/david/docDavid.dtd" uri="docDavidSys1.dtd" />
    <system systemId="http://remote/dtd/david/docDavid.dtd" uri="docDavidSys2.dtd" />
</catalog>
