<style>
* {
    font: 20px SerenitySans;
    border: 1px solid black;
}
body {
    margin-left: 250px;
    text-align: justify;
}
.left {
    float: left;
    background: pink;
    width: 300px;
    height: 200px;
}
.right {
    float: right;
    background: wheat;
    width: 300px;
    height: 200px;
}
</style>
<div class=left></div>
<div class=right></div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a placerat mauris, ut elementum mi. Morbi ut vehicula ipsum, eget placerat augue. Integer rutrum nisi eget dui dictum, eu accumsan enim tristique. Ut lobortis lorem eget est vulputate egestas. Integer laoreet lacinia ante sodales lobortis. Donec a tincidunt ante. Phasellus a arcu tortor. 
