<style>
* {
    font-family: 'SerenitySans';
}

.float {
    width: 200px;
    height: 1000px;
    background-color: royalblue;
    float: right;
}

.bfc {
    background-color: mediumseagreen;
    border: 10px solid skyblue;
    display: flow-root;
}
</style>
<div class="wrapper"><div class="float"></div><div class="bfc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae
    neque nunc. Nam fermentum libero a lectus vulputate eleifend. Nam sagittis
    tristique augue, id sodales mauris suscipit at. Vivamus eget placerat ex.
    Suspendisse potenti. Morbi pulvinar ipsum eget nulla dapibus, ac varius mi
    eleifend.
