grant {
    permission java.security.SecurityPermission "getProperty.policy.provider", "read";
    permission java.security.SecurityPermission "getProperty.policy.url.1", "read";
    permission java.security.SecurityPermission "getProperty.policy.url.2", "read";
};
