grant {
    permission java.util.PropertyPermission "javax.sound.config.file", "write";
    permission java.util.PropertyPermission "test.src", "read";
    permission java.util.PropertyPermission "javax.sound.midi.Receiver", "write";
    permission java.util.PropertyPermission "javax.sound.midi.Transmitter", "write";
    permission java.util.PropertyPermission "javax.sound.midi.Sequencer", "write";
    permission java.util.PropertyPermission "javax.sound.midi.Synthesizer", "write";
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.media.sound";
    permission java.io.FilePermission "${test.src}/testdata/conf/sound.properties", "read";
};
