<style>
  * {
    font-family: 'SerenitySans';
  }
</style>

<!-- Copied from html tests Userland/Libraries/LibWeb/Tests/Pages/Table.html -->
<table id="empty-table"></table>

<!-- Copied from html tests Userland/Libraries/LibWeb/Tests/Pages/Table.html -->
<table id="full-table">
  <caption>
    A Caption
  </caption>
  <thead>
    <tr>
      <td>Head Cell</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Body Cell</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Footer Cell</td>
    </tr>
  </tfoot>
</table>
