<style>
* {
    font-family: 'SerenitySans';
}

.ambox {
    border: 1px solid #a2a9b1;
}

.mbox-text {
    width: 100%;
}

.mbox-image-div {
    width: 50px;
    height: 50px;
    background-color: orange;
}
</style><table class="ambox">
<tr><td class="mbox-image"><div class="mbox-image-div"></div></td><td class="mbox-text">
In a scene set in a lawyer's office, the lawyer sits alone and bounces a rubber ball against the wall. They receive a call from their assistant who expresses frustration over a packed waiting room and the lawyer's lack of clients. The lawyer then looks at some papers from a large envelope, which turn out to be divorce papers from their significant other. Finally, the lawyer instructs their assistant to send in the next client.
</td></tr></table>