<!DOCTYPE html>

<html lang="en">

<head>
  <title>Long caption increases table width</title>
  <style>
    * {
      font-family: 'SerenitySans';
    }

    table {
      border: 2px solid black;
    }

    td,
    th {
      border: 1px solid black;
    }
  </style>
</head>

<table id="full-table">
  <caption>
    A long caption
  </caption>
  <thead>
    <tr>
      <td>A1</td>
      <td>A2</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>B1</td>
      <td>B2</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>F1</td>
      <td>F2</td>
    </tr>
  </tfoot>
</table>

</html>