<!DOCTYPE html>
<html>

<head>
    <title>Table with rowspan</title>
</head>

<body>
    <table>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
        </tr>
        <tr>
            <td rowspan="2">Row 1</td>
            <td>Cell 1</td>
            <td>Cell 2</td>
        </tr>
        <tr>
            <td>Cell 3</td>
            <td>Cell 4</td>
        </tr>
        <tr>
            <td>Row 2</td>
            <td>Cell 5</td>
            <td>Cell 6</td>
        </tr>
    </table>
</body>

</html>