/*
 * 
 */
grant {

    // used by TestLibrary to determine test environment
    permission java.util.PropertyPermission "test.*", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "javax.net.ssl.*", "write";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.security.ssl";
    permission java.security.AllPermission;
};
