COMPILE_IDE=y
COMPILE_AHCI=y
COMPILE_RAMDISK=y

COMPILE_E1000=y
COMPILE_E1000E=y
COMPILE_RTL8139=y
COMPILE_RTL8168=y
COMPILE_NE2000=y

COMPILE_BOCHS_GRAPHICS=y
COMPILE_INTEL_GRAPHICS=y
COMPILE_VIRTIO_GRAPHICS=y
