COMPILE_IDE=y
COMPILE_AHCI=y
COMPILE_RAMDISK=n

COMPILE_E1000=y
COMPILE_E1000E=n
COMPILE_RTL8139=n
COMPILE_RTL8168=n
COMPILE_NE2000=n

COMPILE_BOCHS_GRAPHICS=y
COMPILE_INTEL_GRAPHICS=n
COMPILE_VIRTIO_GRAPHICS=y
