[Desktop Entry]
Name=Ladybird
GenericName=Web Browser
GenericName[ru]=Веб-браузер
Exec=ladybird %U
Icon=org.serenityos.Ladybird-gtk4
DBusActivatable=true
Type=Application
Categories=Network;WebBrowser;GTK;GNOME;
StartupNotify=true
MimeType=text/html;application/xhtml+xml;text/markdown;text/gemini;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/gemini;
Actions=new-window;new-incognito-window;
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action new-window]
Name=New Window
Name[ru]=Новое окно
Exec=ladybird --no-such-option

[Desktop Action new-incognito-window]
Name=New Incognito Window
Name[ru]=Новое окно инкогнито
Exec=ladybird --no-such-option
