.qmake.stash
Makefile
ladybird
*.o
moc_*
Build
build
CMakeLists.txt.user
android/gradle
android/gradlew*
android/assets/
*.swo
*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave
.vscode
.ccls-cache
.DS_Store
compile_commands.json
.cache
.clang_complete
.clangd
.idea/
.vim/
