
"AbortRequired" {
    LCTest$LoginModuleAllPass required;
    LCTest$LoginModuleWithLoginException required;
    LCTest$LoginModuleAllPass required;
};

"AbortRequisite" {
    LCTest$LoginModuleWithLoginException required;
    LCTest$LoginModuleWithAbortException requisite;
    LCTest$LoginModuleAllPass required;
};

"AbortSufficient" {
    LCTest$LoginModuleWithLoginException required;
    LCTest$LoginModuleWithLoginException sufficient;
    LCTest$LoginModuleAllPass required;
};

"LogoutRequisite" {
    LCTest$LoginModuleAllPass required;
    LCTest$LoginModuleWithLogoutException requisite;
    LCTest$LoginModuleAllPass required;
};

"LogoutSufficient" {
    LCTest$LoginModuleAllPass required;
    LCTest$LoginModuleWithLoginException sufficient;
    LCTest$LoginModuleAllPass required;
};

"LogoutRequired" {
    LCTest$LoginModuleWithLogoutException required;
    LCTest$LoginModuleWithAbortException required;
    LCTest$LoginModuleAllPass required;
};

"LoginRequired" {
    LCTest$LoginModuleWithLoginException required;
    LCTest$LoginModuleWithAbortException required;
    LCTest$LoginModuleAllPass required;
};

"LoginSufficient" {
    LCTest$LoginModuleAllPass required;
    LCTest$LoginModuleWithLoginException sufficient;
    LCTest$LoginModuleAllPass required;
};

"LoginRequisite" {
    LCTest$LoginModuleWithLoginException required;
    LCTest$LoginModuleWithAbortException requisite;
    LCTest$LoginModuleAllPass required;
};

"EmptyModuleConfig" {
};
