grant codebase "file:${test.src}/*" {
    permission java.security.AllPermission;
};

grant codebase "${java.ext.dirs}" {
    permission java.util.PropertyPermission "user.name", "read";
    permission java.util.PropertyPermission "user.home", "read";
};

