grant Codebase "http://java.sun.com/dupcb.jar" Codebase "http://java.sun.com/dupcb.jar" {
      permission java.security.SecurityPermission "bogusPolicyParser";
};
