grant {
  permission java.io.FilePermission "${user.home}/-", "read";
};

grant codeBase "file:${test.classes}/-" {
  permission java.lang.RuntimePermission "dynalink.exportLinkersAutomatically";
};
