PropertyExpansion {
    SampleModule required useFile="${user.home}${/}fileName";
    com.sun.security.auth.module.UnixLoginModule required debug=true; 
};

noise {
    noiseMod required noiseDebug=noiseTrue;
    noiseMod2 required noiseDebug=noiseTrue noise2=noise2;
    noiseMod3 required;
};

empty {
};
