grant {
      permission java.util.PropertyPermission "test.classes", "read";
      permission java.util.PropertyPermission "java.io.tmpdir", "read";
      permission java.io.FilePermission "${java.io.tmpdir}${/}*", "read, write";
};
