        $type$[] a = fa.apply(SPECIES.length());
        $type$[] r = fr.apply(SPECIES.length());
        $type$ ra = [[TEST_INIT]];

        for (int ic = 0; ic < INVOC_COUNT; ic++) {
            for (int i = 0; i < a.length; i += SPECIES.length()) {
                $abstractvectortype$ av = $abstractvectortype$.fromArray(SPECIES, a, i);
                r[i] = av.reduceLanes(VectorOperators.[[TEST]]);
            }
        }

        for (int ic = 0; ic < INVOC_COUNT; ic++) {
            ra = [[TEST_INIT]];
            for (int i = 0; i < a.length; i += SPECIES.length()) {
                $abstractvectortype$ av = $abstractvectortype$.fromArray(SPECIES, a, i);
                ra = ($type$)Math.min(ra, av.reduceLanes(VectorOperators.[[TEST]]));
            }
        }

