    static boolean [[TEST]](boolean[] a, int idx) {
        boolean res = [[TEST_INIT]];
        for (int i = idx; i < (idx + SPECIES.length()); i++) {
            res [[TEST_OP]]= a[i];
        }

        return res;
    }
