    static $type$ [[TEST]]Reduce($type$[] a, int idx) {
        $type$ res = [[TEST_INIT]];
        for (int i = idx; i < (idx + SPECIES.length()); i++) {
            res [[TEST_OP]]= a[i];
        }

        return res;
    }

    static $type$ [[TEST]]ReduceAll($type$[] a) {
        $type$ res = [[TEST_INIT]];
        for (int i = 0; i < a.length; i += SPECIES.length()) {
            res [[TEST_OP]]= [[TEST]]Reduce(a, i);
        }

        return res;
    }
