
    @Test(dataProvider = "$type$UnaryOpProvider")
    static void [[TEST]]$vectorteststype$(IntFunction<$type$[]> fa) {
[[KERNEL]]
        assertArraysEquals(r, a, $vectorteststype$::[[TEST]]);
    }
