    static $type$ [[TEST]]Reduce($type$[] a, int idx) {
        $type$ res = [[TEST_INIT]];
        for (int i = idx; i < (idx + SPECIES.length()); i++) {
            res = ($type$)Math.min(res, a[i]);
        }

        return res;
    }

    static $type$ [[TEST]]ReduceAll($type$[] a) {
        $type$ res = [[TEST_INIT]];
        for (int i = 0; i < a.length; i++) {
            res = ($type$)Math.min(res, a[i]);
        }

        return res;
    }
