
    @Test(dataProvider = "$type$BinaryOpMaskProvider")
    static void [[TEST]]$vectorteststype$Shift(IntFunction<$type$[]> fa, IntFunction<$type$[]> fb,
                                          IntFunction<boolean[]> fm) {
[[KERNEL]]
        assertShiftArraysEquals(r, a, b, mask, $vectorteststype$::[[TEST]]_unary);
    }
