<style>
    .square {
        width: 100px; 
        height: 100px;
        background-color:green;
        margin: 20px;
    }
</style>

<div align="left">This text and the green square are both left aligned: <div class="square"></div></div>
<div align="center">This text and the green square are both centered: <div class="square"></div></div>
<div align="right">This text and the green square are both right aligned: <div class="square"></div></div>
<div align="justify">This text is 'full-justified' and the green square is left aligned: <div class="square"></div></div>
