<!DOCTYPE html><html><head><style>
      * {
        margin: 0;
        padding: 0;
        border: 1px solid black;
        font: 16px SerenitySans;
      }
      body {
        display: flex;
        flex-direction: column;
      }
      main {
        background: pink;
        max-width: 400px;
      }
</style></head><body><main>For my day job I'm currently working as a Software Engineer at For my day job I'm currently working as a Software Engineer at For my day job I'm currently working as a Software Engineer at
