<!DOCTYPE html><html><head><style>
    * {
        border: 1px solid black;
        margin: 0;
        padding: 0;
        font: 60px SerenitySans;
    }
    html {
        background: white;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        background: pink;
    }
    .header {
        max-width: 400px;
        background: orange;
    }
</style></head><body class="hero"><div class="header">This entire text should be on an orange background.</div></body></html>