<!DOCTYPE HTML>
<style>
* {
    font: 70px SerenitySans;
}
.min-inline-test {
    background: red;
    min-width:  400px;
    min-height: 200px;

    min-inline-size: 700px;
    writing-mode: horizontal-tb;
}
.max-inline-test {
    background: blue;
    max-width:  400px;
    max-height: 200px;

    max-inline-size: 100px;
    writing-mode: horizontal-tb;
}
.inline-size-test {
    background: blue;
    inline-size: 400px;
    height: 200px;
}
</style>
<p class="min-inline-test">KK</p>
<br>
<p class="max-inline-test">KK</p>
<br>
<p class="inline-size-test">KK</p>
