<!doctype html><style>
      * {
        border: 1px solid black !important;
        font: 16px SerenitySans;
      }
      .outer {
        display: flex;
        flex-wrap: wrap;
        background: pink;
      }
      .inner {
        background: rgba(0, 0, 255, 0.5);
        padding-top: 50px;
        padding-bottom: 50px;
        box-sizing: border-box;
      }
</style><div class="outer flex flex-wrap"><div class="inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum libero et urna sodales auctor. Nullam sodales bibendum turpis quis blandit. Ut fringilla erat et erat laoreet, faucibus rhoncus orci hendrerit. Etiam at sagittis diam. Etiam nec neque non dolor iaculis finibus euismod eget erat. Pellentesque vitae purus vitae nisi vehicula vestibulum quis ut diam. Integer convallis, justo ullamcorper sollicitudin varius, enim enim pellentesque erat, eu pellentesque sem arcu eu purus. Phasellus id erat sed felis luctus mollis eget sit amet dolor. Pellentesque eget justo nulla. Duis consectetur imperdiet nisi, ac tincidunt urna blandit quis.</div>