<!DOCTYPE html><style>
    * {
        border: 1px solid black;
    }
    body {
        display: flex;
        width: 500px;
    }
    .big {
        width: 400px;
        height: 50px;
        background: pink;
    }
    .buttons {
        min-width: fit-content;
        background: orange;
    }
    .button {
        display: inline-block;
        border: 1px solid black;
    }
</style><body>
<div class="big"></div>
<div class="buttons"><div class="button">Accept</div><div class="button">Reject</div>