<style>
    .container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: min-content;
    }

    .box {
        background-color: crimson;
        width: 40px;
        height: 40px;
    }
</style>

<div class="container" style="justify-content: space-between">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>
<div class="container" style="justify-content: space-around">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>
<div class="container" style="justify-content: space-evenly">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>
