<!DOCTYPE html><style type="text/css">
    * {
        outline: 1px solid black;
    }
    .row {
        flex-direction: row-reverse;
    }
    .column {
        flex-direction: column-reverse;
    }
    .flex {
        display: flex;
        width: 200px;
        height: 200px;
        background: pink;
        justify-content: normal;
    }
    .item {
        width: 100px;
        height: 100px;
        background: orange;
    }
</style><body><div class="flex row"><div class="item"></div></div><div class="flex column"><div class="item"></div></div>