grant {
    permission java.lang.RuntimePermission "setSecurityManager";
    permission java.io.FilePermission "${test.src}/*", "read";
    permission java.lang.RuntimePermission
        "accessClassInPackage.sun.security.internal.spec";
    permission java.lang.RuntimePermission
        "accessClassInPackage.sun.security.internal.interfaces";
};