grant {
  permission java.io.FilePermission "<<ALL FILES>>", "read, write, delete, execute";
  permission java.awt.AWTPermission "accessSystemTray";
  permission java.awt.AWTPermission "createRobot";
  permission java.util.PropertyPermission "resultsDir", "read";
  permission java.util.PropertyPermission "user.home", "read";
  permission java.util.PropertyPermission "os.name", "read";
  permission java.util.PropertyPermission "os.version", "read";
  permission java.awt.AWTPermission "accessEventQueue";
  permission java.lang.RuntimePermission "setIO";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.lwawt.macosx";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.awt.X11";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.awt";
  permission java.lang.RuntimePermission "loadLibrary.stl";
  permission java.util.PropertyPermission "java.home", "read";
  permission java.util.PropertyPermission "java.class.path", "read";
  permission java.awt.AWTPermission "readDisplayPixels";
  permission java.awt.AWTPermission "watchMousePointer";

};

