name: Lagom Template

on:
  workflow_call:
    inputs:
        toolchain:
          required: true
          type: string
        os_name:
          required: true
          type: string
        os:
          required: true
          type: string
        fuzzer:
          required: false
          type: string
          default: 'NO_FUZZ'

env:
  # runner.workspace = /home/runner/work/serenity
  # github.workspace = /home/runner/work/serenity/serenity
  SERENITY_SOURCE_DIR: ${{ github.workspace }}
  CCACHE_DIR: ${{ github.workspace }}/.ccache

jobs:
  CI:
    runs-on: ${{ inputs.os }}

    steps:
      # Pull requests can trail behind `master` and can cause breakage if merging before running the CI checks on an updated branch.
      # Luckily, GitHub creates and maintains a merge branch that is updated whenever the target or source branch is modified. By
      # checking this branch out, we gain a stabler `master` at the cost of reproducibility.
      - uses: actions/checkout@v4
        if: ${{ github.event_name != 'pull_request' }}

      - uses: actions/checkout@v4
        if: ${{ github.event_name == 'pull_request' }}
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - name: Set Up Environment
        uses: ./.github/actions/setup
        with:
          os: ${{ inputs.os_name }}
          arch: 'Lagom'

      # === PREPARE FOR BUILDING ===

      - name: Restore Caches
        uses: ./.github/actions/cache-restore
        id: 'cache-restore'
        with:
          os: ${{ inputs.os_name }}
          arch: 'Lagom'
          toolchain: ${{ inputs.toolchain }}
          cache_key_extra: ${{ inputs.fuzzer }}
          serenity_ccache_path: ${{ env.CCACHE_DIR }}
          download_cache_path: ${{ github.workspace }}/Build/caches
          jakt_toolchain_cache_path: ${{ github.workspace }}/Toolchain/Local/jakt

      - name: Assign Build Parameters
        id: 'build-parameters'
        run: |
          if ${{ inputs.os_name == 'Linux' }} ; then
            if ${{ inputs.toolchain == 'Clang' }} ; then
              echo "host_cc=clang-18" >> "$GITHUB_OUTPUT"
              echo "host_cxx=clang++-18" >> "$GITHUB_OUTPUT"
            elif ${{ inputs.toolchain == 'GNU' }} ; then
              echo "host_cc=gcc-13" >> "$GITHUB_OUTPUT"
              echo "host_cxx=g++-13" >> "$GITHUB_OUTPUT"
            fi
          elif ${{ inputs.os_name == 'macOS' }} ; then
            echo "host_cc=$(brew --prefix llvm@18)/bin/clang" >> "$GITHUB_OUTPUT"
            echo "host_cxx=$(brew --prefix llvm@18)/bin/clang++" >> "$GITHUB_OUTPUT"
          fi

      # https://github.com/actions/runner-images/issues/9330
      - name: Enable Microphone Access (macOS 14)
        if: ${{ inputs.os == 'macos-14' }}
        run: sqlite3 $HOME/Library/Application\ Support/com.apple.TCC/TCC.db "INSERT OR IGNORE INTO access VALUES ('kTCCServiceMicrophone','/usr/local/opt/runner/provisioner/provisioner',1,2,4,1,NULL,NULL,0,'UNUSED',NULL,0,1687786159,NULL,NULL,'UNUSED',1687786159);"

      - name: Build jakt toolchain
        if: ${{ steps.cache-restore.output.jakt_prebuilt_hit != 'true' }}
        run: "ARCH=\"${{ inputs.arch }}\" CXX=g++-13 ${{ github.workspace }}/Toolchain/BuildJakt.sh lagom"


      - name: Create Build Environment
        if: ${{ inputs.fuzzer == 'NO_FUZZ' }}
        working-directory: ${{ github.workspace }}/Meta/Lagom
        run: |
          cmake -GNinja -B Build \
            -DBUILD_LAGOM=ON \
            -DENABLE_LAGOM_LADYBIRD=ON \
            -DINCLUDE_WASM_SPEC_TESTS=ON \
            -DWASM_SPEC_TEST_SKIP_FORMATTING=ON \
            -DENABLE_UNDEFINED_SANITIZER=ON \
            -DENABLE_ADDRESS_SANITIZER=ON \
            -DSERENITY_CACHE_DIR=${{ github.workspace }}/Build/caches \
            -DCMAKE_C_COMPILER=${{ steps.build-parameters.outputs.host_cc }} \
            -DCMAKE_CXX_COMPILER=${{ steps.build-parameters.outputs.host_cxx }}

      - name: Create Build Environment
        if: ${{ inputs.fuzzer == 'FUZZ' }}
        working-directory: ${{ github.workspace }}/Meta/Lagom
        run: |
          set -e

          cmake -GNinja -B tools-build \
            -DBUILD_LAGOM=OFF \
            -DCMAKE_INSTALL_PREFIX=tool-install \
            -DSERENITY_CACHE_DIR=${{ github.workspace }}/Build/caches \
            -DCMAKE_C_COMPILER=gcc-13 \
            -DCMAKE_CXX_COMPILER=g++-13 \
            -Dpackage=LagomTools

          ninja -C tools-build install

          cmake -GNinja -B Build \
            -DBUILD_LAGOM=ON \
            -DENABLE_FUZZERS_LIBFUZZER=ON \
            -DENABLE_ADDRESS_SANITIZER=ON \
            -DSERENITY_CACHE_DIR=${{ github.workspace }}/Build/caches \
            -DCMAKE_C_COMPILER=${{ steps.build-parameters.outputs.host_cc }} \
            -DCMAKE_CXX_COMPILER=${{ steps.build-parameters.outputs.host_cxx }} \
            -DCMAKE_PREFIX_PATH=tool-install

      # === BUILD ===

      - name: Build
        working-directory: ${{ github.workspace }}/Meta/Lagom/Build
        run: |
          set -e
          cmake --build .
          cmake --install . --strip --prefix ${{ github.workspace }}/Meta/Lagom/Install

      - name: Enable the Ladybird Qt chrome
        if: ${{ inputs.os_name == 'macOS' && inputs.fuzzer == 'NO_FUZZ' }}
        working-directory: ${{ github.workspace }}/Meta/Lagom
        run: cmake -B Build -DENABLE_QT=ON

      - name: Build the Ladybird Qt chrome
        if: ${{ inputs.os_name == 'macOS' && inputs.fuzzer == 'NO_FUZZ' }}
        working-directory: ${{ github.workspace }}/Meta/Lagom/Build
        run: cmake --build .

      - name: Save Caches
        uses: ./.github/actions/cache-save
        with:
          arch: 'Lagom'
          serenity_ccache_path: ${{ env.CCACHE_DIR }}
          serenity_ccache_primary_key: ${{ steps.cache-restore.outputs.serenity_ccache_primary_key }}
          jakt_prebuilt_primary_key: ${{ steps.cache-restore.outputs.jakt_prebuilt_primary_key }}
          jakt_prebuilt_hit: ${{ steps.cache-restore.outputs.jakt_prebuilt_hit }}
          jakt_prebuilt_path: ${{ github.workspace }}/Toolchain/Local/jakt

      # === TEST ===

      - name: Test
        if: ${{ inputs.fuzzer == 'NO_FUZZ' }}
        working-directory: ${{ github.workspace }}/Meta/Lagom/Build
        run: ninja test
        env:
          CTEST_OUTPUT_ON_FAILURE: 1
          ASAN_OPTIONS: 'strict_string_checks=1:check_initialization_order=1:strict_init_order=1:detect_stack_use_after_return=1:allocator_may_return_null=1'
          UBSAN_OPTIONS: 'print_stacktrace=1:print_summary=1:halt_on_error=1'
          TESTS_ONLY: 1

      - name: Upload LibWeb Test Artifacts
        if: ${{ always() && inputs.fuzzer == 'NO_FUZZ' }}
        uses: actions/upload-artifact@v4
        with:
          name: libweb-test-artifacts-${{ inputs.os_name }}
          path: ${{ github.workspace }}/Meta/Lagom/Build/Ladybird/test-dumps
          retention-days: 7
          if-no-files-found: ignore

      - name: Lints
        if: ${{ inputs.os_name == 'Linux' && inputs.fuzzer == 'NO_FUZZ' }}
        working-directory: ${{ github.workspace }}
        run: |
          set -e
          ./Meta/check-markdown.sh
          ./Meta/lint-gml-format.sh
          git ls-files '*.ipc' | xargs ./Meta/Lagom/Build/bin/IPCMagicLinter
        env:
          MARKDOWN_CHECK_BINARY: ./Meta/Lagom/Build/bin/markdown-check
          GML_FORMAT: ./Meta/Lagom/Build/bin/gml-format
          ASAN_OPTIONS: 'strict_string_checks=1:check_initialization_order=1:strict_init_order=1:detect_stack_use_after_return=1:allocator_may_return_null=1'
          UBSAN_OPTIONS: 'print_stacktrace=1:print_summary=1:halt_on_error=1'
