name: Social media notifications

on: [ push ]

jobs:
  notify_mastodon:
    runs-on: ubuntu-24.04
    if: always() && github.repository == 'SerenityOS/serenity' && github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6
        with:
          node-version: '14'
      - run: npm i mastodon
      - run: |
          node ${{ github.workspace }}/Meta/toot-commits.js << 'EOF'
          ${{ toJSON(github.event) }}
          EOF
        env:
          ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
