# KConfig fragment for RISC-V QEMU U-Boot.
# Don't manually use this as a .config file for U-Boot since it is not complete.

# Setup default boot command necessary for booting Serenity.
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="nvme scan; if load nvme 0 $kernel_addr_r /boot/Kernel.bin; then go $kernel_addr_r; fi"
# Enable NVMe since our Kernel likely lives there.
CONFIG_CMD_NVME=y
CONFIG_NVME=y
CONFIG_NVME_PCI=y
